@import './variables.scss';

.footer {
	background-color: $footer-bg-color;
	color: $footer-text-color;
	padding: $footer-padding;
	font-family: $font-family;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100%;

	&-content {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 20px;

		.footer-section {
			flex: 1;
			margin-bottom: 20px;
			padding: 0 10px;

			h2 {
				font-size: 18px;
				font-weight: 550;
				margin-bottom: 10px;
			}

			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;

				li {
					margin-bottom: 5px;
					cursor: pointer;

					&:hover {
						color: $nav-item-hover-color;
					}
				}
			}
		}

	}

	.footer-copyright {
		background-color: $footer-bottom-bg-color;
		color: $footer-bottom-text-color;
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 0;
		padding: 10px 0;
	}
}